body{
    overflow: hidden;
    position: relative;
}

div{
    transition: all .5s;
}

#nw > div, #sw > div, #ne > div, #se > div{
    background: #fff;
}

#nw{
    position: absolute;
    left: 0;
    top: 0;
}

#nw > .top{
    background: red;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
}

#nw > .east{
    background-color: #fff;
    background-image: linear-gradient(90deg, #fff 50%, rgba(0,0,0,.5) 98%);
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: right;
}

#nw > .south{
    background-color: #fff;
    background-image: linear-gradient(0deg, #fff 50%, rgba(0,0,0,.5) 98%);
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#container.horizontal > #nw > .top{
    transform: rotateY(-45deg);
}

#container.vertical > #nw > .top{
    transform: rotateX(-45deg);
}

#container.horizontal > #nw > .east{
    transform: rotateY(73deg);
}

#container.vertical > #nw > .south{
    trasnform: rotateX(79deg)
}

#ne{
    position: absolute;
    right: 0;
    top: 0;
}

#ne > .top{
    background: red;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right;
}

#ne > .west{
    background-color: #fff;
    background-image: linear-gradient(270deg, #fff 50%, rgba(0,0,0,.5) 98%);
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
}

#container.horizontal > #ne > .top{
    transform: rotateY(45deg);
}

#container.horizontal > #ne > .west{
    transform: rotateY(-73deg);
}