body{
    overflow: hidden;
    position: relative;
}

div{
    transition: all .5s;
}

#nw{
    position: absolute;
    left: 0;
    top: 0;
}

#nw > .top{
    background-color: #d63031;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
}

#nw > .east{
    background-color: #ff7675;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: right;
}

#nw > .south{
    background-color: #fab1a0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#container.horizontal > #nw > .top{
    transform: rotateY(-45deg);
}

#container.vertical > #nw > .top{
    transform: rotateX(-60deg);
}

#container.horizontal > #nw > .east{
    transform: rotateY(73deg);
}

#container.vertical > #nw > .south{
    transform: rotateX(60deg)
}






#ne{
    position: absolute;
    right: 0;
    top: 0;
}

#ne > .top{
    background: #0984e3;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right;
}

#ne > .west{
    background-color: #74b9ff;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
}

#ne > .south{
    background-color: #81ecec;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#container.horizontal > #ne > .top{
    transform: rotateY(45deg);
}

#container.horizontal > #ne > .west{
    transform: rotateY(-73deg);
}

#container.vertical > #ne > .south{
    transform: rotateX(60deg)
}






#sw{
    position: absolute;
    left: 0;
    bottom: 0;
}

#sw > .top{
    background-color: #d63031;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom left;
}

#sw > .east{
    background-color: #ff7675;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotateY(90deg);
    transform-origin: right;
}

#sw > .north{
    background-color: #fab1a0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
}

#container.horizontal > #sw > .top{
    transform: rotateY(-45deg);
}

#container.vertical > #sw > .top{
    transform: rotateX(60deg);
}

#container.horizontal > #sw > .east{
    transform: rotateY(73deg);
}

#container.vertical > #sw > .north{
    transform: rotateX(-60deg)
}





#ne{
    position: absolute;
    right: 0;
    top: 0;
}

#ne > .top{
    background: #0984e3;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right;
}

#ne > .west{
    background-color: #74b9ff;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
}

#ne > .south{
    background-color: #81ecec;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#container.horizontal > #ne > .top{
    transform: rotateY(45deg);
}

#container.horizontal > #ne > .west{
    transform: rotateY(-73deg);
}

#container.vertical > #ne > .south{
    transform: rotateX(60deg)
}