body{
    overflow: hidden;
    position: relative;
}

div{
    transition: all .35s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

#container.base .top{
    cursor: pointer;
}

#container.base > #nw > .top:hover{
    background-color: #d63030de;
}

#container.base > #ne > .top:hover{
    background-color: #0984e3de;
}

#container.base > #sw > .top:hover{
    background-color: #fdcb6ede;
}

#container.base > #se > .top:hover{
    background-color: #e84393de;
}

.top{
    font-size: 2em;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 100vw;
    height: 100vw;
}

#nw{
    position: absolute;
    left: 0;
    top: 0;
}

#nw > .top{
    background-color: #d63031;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
}

#nw > .east{
    background-color: #ff7675;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: right;
}

#nw > .south{
    background-color: #e17055;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#container.horizontal > #nw > .top{
    transform: rotateY(-45deg);
}

#container.vertical > #nw > .top{
    transform: rotateX(-60deg);
}

#container.horizontal > #nw > .east{
    transform: rotateY(73deg);
}

#container.vertical > #nw > .south{
    transform: rotateX(60deg);
}

#container.horizontal > #nw > .east:hover{
    background-color: #ff7675de;
    cursor: pointer;
}

#container.vertical > #nw > .south:hover{
    background-color: #e17055de;
    cursor: pointer;
}





#ne{
    position: absolute;
    right: 0;
    top: 0;
}

#ne > .top{
    background: #0984e3;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: top right;
}

#ne > .west{
    background-color: #74b9ff;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
}

#ne > .south{
    background-color: #81ecec;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#container.vertical > #ne > .top{
    transform: rotateX(60deg);
}

#container.horizontal > #ne > .top{
    transform: rotateY(45deg);
}

#container.horizontal > #ne > .west{
    transform: rotateY(-73deg);
}

#container.vertical > #ne > .south{
    transform: rotateX(60deg)
}

#container.vertical > #ne > .south:hover{
    background-color: #81ececde;
    cursor: pointer;
}

#container.horizontal > #ne > .west:hover{
    background-color: #74b9ffde;
    cursor: pointer;
}





#sw{
    position: absolute;
    left: 0;
    top: 50vh;
}

#sw > .top{
    background: #fdcb6e;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom left;
}

#sw > .east{
    background-color: #ffeaa7;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: right;
}

#sw > .north{
    background-color: #fab1a0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
}

#container.horizontal > #sw > .top{
    transform: rotateY(45deg);
}

#container.vertical > #sw > .top{
    transform: rotateX(60deg);
}

#container.horizontal > #sw > .east{
    transform: rotateY(73deg);
}

#container.vertical > #sw > .north{
    transform: rotateX(-60deg)
}

#container.vertical > #sw > .north:hover{
    background-color: #fab1a0de;
    cursor: pointer;
}

#container.horizontal > #sw > .east:hover{
    background-color: #ffeaa7de;
    cursor: pointer;
}




#se{
    position: absolute;
    right: 0;
    top: 50vh;
}

#se > .top{
    background: #e84393;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: bottom right;
}

#se > .west{
    background-color: #fd79a8;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
}

#se > .north{
    background-color: #a29bfe;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
}

#container.horizontal > #se > .top{
    transform: rotateY(45deg);
}

#container.vertical > #se > .top{
    transform: rotateX(60deg);
}

#container.horizontal > #se > .west{
    transform: rotateY(-73deg);
}

#container.vertical > #se > .north{
    transform: rotateX(-60deg)
}

#container.vertical > #se > .north:hover{
    background-color: #a29bfede;
    cursor: pointer;
}

#container.horizontal > #se > .west:hover{
    background-color: #fd79a8de;
    cursor: pointer;
}